<% include ../partials/header %>

<script>
    var selectedPro = 0;
    function deletePro(id){
        console.log(id);
        selectedPro = id;
        $('#exampleModalCenter').modal('show')
    }
    function confirmDelete(){
        console.log('confirm:'+selectedPro);
        window.location.href = '/product_delete/'+selectedPro;
    }        
</script>

<form action="/product/update" method="post" >
<div class="top"style="padding: 15px;">
<div class="form-group" >
  <label for="">ID</label>
  <input type="number"
    class="form-control" value="<%= product.product_id %>" name="id" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Product ID</small>
</div>

<div class="form-group">
  <label for="">Title</label>
  <input type="text"
    class="form-control" value="<%= product.title %>" name="title" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Product Title</small>
</div>

<div class="form-group">
  <label for="">Price</label>
  <input type="number"
    class="form-control" value="<%= product.price %>" name="price" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Product Price</small>
</div>

<div class="form-group">
  <label for="">Created At</label>
  <input type="text"
    class="form-control" value="<%= time %>"name="time" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Created At</small>
</div>


<a name="" id="" class="btn btn-primary" href="/products" role="button">Cancle</a>
<button type="submit" class="btn btn-success">SAVE</button>

<button type="button" class="btn btn-danger" data-target="#exampleModalCenter" onclick="deletePro(<%= product.product_id %>);">Delete</button>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Alert</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
              <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete</button>
            </div>
          </div>
        </div>
    </div>

</form>


<% include ../partials/footer %>