<% include ../partials/header %>

<div class="container">
    <div class="row" >
        <div class="col-md-12 text-center">
            <h1 class="display-12">PRODUCTS</h1>
            <p>Type something in the input field to search the table for ID, Title or Price:</p>  
            <br><br>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
        </div>
        
    </div>

<br><br><br>

<div class="jumbotron">
<div class="col-12">
<a class="btn btn-info" href="/addnewpro" role="button" >  New Product  </a>
</div><br><br>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
     <tbody id="myTable">
        <% products.forEach(function(product) { %>
        <tr>
            <td scope="row"><%= product.product_id %></td>
            <td><%= product.title %></td>
            <td><%= product.price %></td>
            <td><a class="btn btn-warning" href="/products/<%= product.product_id %>" role="button">Edit</a></td>
            <td>
                <button type="button" class="btn btn-danger" data-target="#exampleModalCenter" onclick="deletePro(<%= product.product_id %>);">
                Delete
                </button>
            </td>
        </tr>
        <% }); %>
        
    </tbody>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Are you Sure?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">Do you want to delete product.</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancle</button>
              <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete</button>
            </div>
          </div>
        </div>
    </div>

</table>
</div>
</div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<script>
    var selectedPro = 0;
    function deletePro(id){
        console.log(id);
        selectedPro = id;
        $('#exampleModalCenter').modal('show')
    }
    function confirmDelete(){
        console.log('confirm:'+selectedPro);
        window.location.href = '/product_delete/'+selectedPro;
    }        
</script>





<% include ../partials/footer %>